
p {
	text-align: justify;
}


.box {
	background-color: #C0C0C0;
	width: 800px;
	margin: 0px auto; 

}


.header {
	background-color: #ADD8E6;
	height: 40px;
}



.left {
	background-color: #C0C0C0;
	width: 100px;
	float: left;
}


.main {
	background-color: orange;
	padding-left: 20px;
	padding-right:20px;
	width: 560px;
	float: left;
}




.right {
	background-color: #C0C0C0;
	width: 100px;
	float: left;
}


.footer {	
	clear: left;
	background-color: #ADD8E6;
	height: 140px;
}



#menu li {
	list-style-type: none;
	display: inline-block; 
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-top: 10px;
	background-color: grey;
	width: 22%;
	margin: 0;
}

#menu li:hover {
	background-color: orange;
}


#menu li a {
	color: #FFF;
	text-decoration: none;
}

#menu li.active {
	background-color: orange;
}

